body {
    background-image: url("../img/background.png");
    position: absolute;
    width: 1366px;
    height: 768px;
    background-repeat: no-repeat;
}

.header-container {
    display: flex;
    width: 1028px;
    height: 61px;
    margin-top: 46px;
    margin-left: 161px;
}

.header-content {
    text-decoration: none;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.main-logo-content {
    text-decoration: none;
    color: #FFFFFF;
}